<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.start">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".MyApplication"
        android:icon="@drawable/icon"
        android:label="图遇"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".basic" />
        <activity
            android:name=".basic"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppCompatTheme">
        </activity>
    </application>

</manifest>