<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.start">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@drawable/icon"
        android:label="图遇"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label">
        <!-- SearchActivity是点击搜索按钮之后显示的搜索界面，它的父ParentActivity是basic-->
        <activity
            android:name=".SearchActivity"
            android:parentActivityName="com.example.start.basic">

        </activity>

        <activity
            android:name=".basic"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>